* {
  margin: 0;
  padding: 0;
}
body {
  background-color: black;
  color: #fff;
}
#clock {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
}
#clock_time div {
  position: relative;
  margin: 0 5px;
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0004);
}
#clock_time {
  /* position: relative; */
  display: flex;
  justify-content: center;
  align-items: center;
}
#clock_title {
  position: relative;
  margin-bottom: 10px;
  font-family: sans-serif;
  text-transform: uppercase;
  display: block;
  color: #fff;
  text-align: center;
}

#clock_time div span {
  width: 100px;
  height: 80px;
  background-color: #2196f3;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 300;
  font-size: 3em;
  z-index: 10;
  text-align: center;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
}
#clock_time div span:nth-child(2) {
  height: 30px;
  font-size: 0.7em;
  letter-spacing: 0.2em;
  font-weight: 500;
  z-index: 9;
  box-shadow: none;
  background-color: #127fd6;
}
#clock_time div span:nth-child(2) {
  height: 30px;
  font-size: 0.7em;
  letter-spacing: 0.2em;
  font-weight: 500;
  z-index: 9;
  box-shadow: none;
  background-color: #127fd6;
}
#clock_time div:last-child span {
  background-color: #ff006a;
}
#clock_time div:last-child span:nth-child(2) {
  background-color: #ec0062;
}
